.menu{
  transform: translateX(-117%);
  background-color: #FFFFFF;
  transition: all 0.2s;
}
.menu.active{
  transform: translateX(-17%);
}
@media screen and (max-width: 768px) {
  .menu{
    display: none;
  }
  .menu.active{
    display: block;
  }
}
.no-users-found {
  font-size: 0.88rem;
  color: red;
}
.scrollbar::-webkit-scrollbar{
  width: 6px;
}
.scrollbar::-webkit-scrollbar-thumb{
  border-radius: 8px;
  background-color: rgb(99 102 241);
}
