.form{
  transform: translateX(-17%);
  transition: all 0.2s;
}
 .form.active{
   transform: translateX(0);
 }
 textarea{
   resize: none;
 }
.sendhund {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .form.active{
    transform: translateX(100%);
    transition: all 0.2s;
  }
  .form{
    transform: translateX(0);
    width: 100vw;
  }
  .input{
    height:180px;
  }
  .input textarea{
    height: 100px;
  }
  .send{
    padding: 5px;
  }
}
